body{
    background-color: white;
    color: white;
    background-image: url(mediacss/background.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    height: 100vh 100vh;
    background-size: cover;
    background-attachment: fixed;
}
button {
    padding: 3px 740px;
    border: 1px outset 10px;
    border-radius: 4px;
    text-decoration: none;
    background-color:  #2c2c30;
    right: -20px;    
    color: #F2F2F2;
}